<!DOCTYPE html>
<html>
<head>
	<title>{{component}} Test Case</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.14/vue.min.js" type="text/javascript" charset="utf-8" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>

</head>
<body >
<div id="show" ></div>

</body>
<script src="{{component}}_test.js" type="text/javascript" charset="utf-8" ></script>
</html>